<div class="homepage-container">
  <div class="homepage-block">
    <div class="homepage-header">
      <h1>Which cat are you?!</h1>
      <h4>Have you ever wondered which cats you are?</h4>
      <h4>Click the cat gif below to find out!</h4>
    </div>
    <div class ="homepage-cat">
      <%= link_to image_tag(find_homepage_cat),  "/which-cat"%>
    </div>
  </div>
</div>
